.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .product section {
    width: 90%;
    gap: 4rem;
  }

  .product h2 {
    font-size: 3.2rem;
  }

  .product p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .product section {
    grid-template-columns: 1fr; /* يتحول عمود واحد */
    text-align: center;
  }

  .product h2 {
    font-size: 2.8rem;
  }

  .product p {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .product {
    padding: 1.5rem 2rem;
  }

  .product section {
    gap: 2rem;
  }

  .product h2 {
    font-size: 2.4rem;
  }

  .product p {
    font-size: 1.3rem;
  }
}
